header {
  margin-top: -42px;
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("../images/level-up-with-vanessa-robin.jpg") black no-repeat
      center center scroll;
    background-size: cover;
  }

  header video {
    display: none;
  }
}
:root {
  --primary-color: #35858b;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}
.about-me-header {
  margin-bottom: 40px;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Poiret One", cursive;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 36px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Poiret One", cursive;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: "Poiret One", cursive;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-family: "Poiret One", cursive;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
  color: #072227;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 20px;
  text-decoration: none;
  font-family: "Poiret One", cursive;
}

.email-link:hover {
  text-decoration: underline;
}

.navbar-brand {
  font-family: "The Nautigal", cursive;
  color: #072227;
  font-size: 24px;
}
.nav-item {
  font-family: "Poiret One", cursive;
  font-size: 24px;
  color: #072227;
}
.contact-icon-address {
  margin-top: 4px;
  margin-right: 4px;
}
.contact-icon-instagram {
  margin-top: -45px;
  margin-right: 4px;
}
.contact-icon-email {
  margin-top: -45px;
  margin-right: 4px;
}
.fixed-bottom {
  background-color: #f8f9fa;
}
.page-bumper {
  margin-bottom: 200px;
}
.navbar-brands {
  font-family: "The Nautigal", cursive;
  color: #072227;
  font-size: 36px;
  text-decoration: none;
  justify-content: center;
  display: flex;
}
.work-images {
  width: 500px;
  height: 500px;
}
.App-footer {
  font-family: "Poiret One", cursive;
  color: #072227;
  text-decoration: none;
}
.gitty {
  font-family: "Poiret One", cursive;
  color: #072227;
  text-decoration: none;
  justify-content: center;
  display: flex;
}
.contact-form-button {
  margin-top: 10px;
}
